@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #e2e2e2;
}

h1 {
    margin-top :35px;
    font-family: "Shadows Into Light", Arial;
}
.container {
    max-width: 80%;
    margin: auto;
    min-height: 100vh;
    
}

.grid{
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr))
}

.note-editor {
	position :absolute;
	top :0;
	left :0;
	right :0;
	bottom :0;
	z-index :1;
	transform :translateY(100%);
	transition :all 0.5s ease;
}
.note-editor.active {
	transform :translateY(0);
}

.note-wrap {
	overflow :hidden;
    min-height: 150px;
    width: 150px;
    margin: 2px 0 15px;
    cursor: -webkit-grab;
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2);
}

.note-wrap:active {
    cursor: -webkit-grabbing;
}

.note p {
    font-size: 22px;
    text-align: center;
    padding: 5px 5px 31px;
    font-family: "Shadows Into Light", Arial;
}

.note:hover > span {
    opacity: 1;
}

.note > span {
    position: absolute;
    bottom: 2px;
    right: 2px;
    opacity: 0;
    transition: opacity .25s linear;
}

.note button {
    margin: 2px;
}

.note form {
    text-align: center;
    height: 100%;
}

.note  textarea {
    width: 95%;
    max-width: 100%;
    margin-top: 1rem;
    height: 50%;
    background: rgba(255, 255, 255, .5);
    resize: none;
}

.container button {
  color: #fff;
  font-size: 14px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.55);
}

.add {
  margin-top: 1rem !important;
  margin-bottom: 1rem!important;
}
.modal {
    position :absolute;
    top :50%;
    left :50%;
    transform :translate(-50%, 0);
}

.ui.form .fields>.field:first-child {
    flex-grow :1;
}
.ui.form .fields>.field label {
    color :#fff;
    font-size :18px;
}
.ui.form .fields>.field .ui.input {
    height :45px;
}
.ui.form .fields>.field .ui.input input {
    height :100%;
    padding :5px;
}